<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost\FELIPE-NOTEBOOK\SQLEXPRESS:1433;databaseName=ALPOO</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">saadmin</property>
    <mapping class="Modelo.Carros" file="" jar="" package="Modelo" resource=""/>
  </session-factory>
</hibernate-configuration>
